* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  text-align: center;
  background-color: skyblue;
}
.button {
  margin: 200px;
}
.btn {
  padding: 40px 90px;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  background-color: #00bbcc;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.btn:before {
  content: '';
  position: absolute;
  height: 350px;
  width: 150px;
  background-color: white;
  left: -160px;
  top: -100px;
  transform: rotate(37deg);
  transition: all 0.3s;
  opacity: 0.3;
}

.btn:hover:before {
  left: 95%;
}
